:root {
  /* Brand */
  --ai-primary: #3423A6;
  --ai-secondary: #5946d8;
  --ai-tertiary: #a59aea;
  --ai-quaternary: #d2cdf4;
  --ai-quinary: #f0eefb;

  /* Grey */
  --ai-grey-primary: #111111;
  --ai-grey-secondary: #333333;
  --ai-grey-tertiary: #676767;
  --ai-grey-quaternary: #888888;
  --ai-grey-quinary: #AAAAAA;

  /* White */
  --ai-white: #ffffff;
}

.text-primary {
  color: var(--ai-primary) !important;
}

.text-secondary{
  color: var(--ai-secondary) !important;
}

.text-grey-primary{
  color: var(--ai-grey-primary) !important;
}

.text-grey-secondary {
  color: var(--ai-grey-secondary) !important;
}

.text-grey-tertiary{
  color: var(--ai-grey-tertiary) !important;
}

